<html lang="de">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="{{html_description}}" />
  <meta name="author" content="{{html_author}}" />
  <meta name="generator" content="Jekyll v3.8.5" />
  <title>{{html_title}}</title>

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/cards.js"></script>
  <link href="/css/cards.css" rel="stylesheet" />

  <!--Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="/css/signin.css" rel="stylesheet" />
</head>

<body class="text-center">
  <div class="container">
    <div class="row">
      <div id="counts">
        <p>
          Gelb: <span id="count-yellow">0</span> |
          Blau: <span id="count-blue">0</span> |
          Gr&uuml;n: <span id="count-green">0</span> |
          Rot: <span id="count-red">0</span> |
          Wei&szlig;: <span id="count-white">0</span> |
          Alle: <span id="count-all">0</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div id="cards"></div>
    </div>
    <div class="row">
      <p>Du wirst angezeigt als <b id='displayname'>{{name}}</b></p>
    </div>
    <div class="row">
      <button id="yellowBtn" class="btn-color btn-color-yellow btn-color-unselected" />
      <button id="blueBtn" class="btn-color btn-color-blue btn-color-unselected" />
      <button id="greenBtn" class="btn-color btn-color-green btn-color-unselected" />
      <button id="redBtn" class="btn-color btn-color-red btn-color-unselected" />
      <button id="whiteBtn" class="btn-color btn-color-white btn-color-unselected" />
      <button id="allBtn" class="btn-color btn-color-all btn-color-unselected" />
    </div>
    <div class="row reset-hide" id="resetRow">
      <button id="resetBtn" class="btn btn-danger">Reset</button>
    </div>
  </div>
</body>

</html>