<html lang="de">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <script src='/js/teams.js'></script>
    <script>
      microsoftTeams.initialize();
      microsoftTeams.authentication.notifySuccess();
    </script>
  </body>
</html>
